APP_ENV=debug|prod
DATABASE_URL=mysql:host=[host];port=[port];dbname=[db];user=[user];password=[password]

APPLE_SERVICE_ID=
APPLE_KEY_ID=
APPLE_TEAM_ID=
APPLE_SECRET_NAME=
APPLE_SIGN_IN_URL=https://appleid.apple.com/auth/authorize

APPLE_REDIRECT_SIGN_UP_URL=
APPLE_REDIRECT_SIGN_IN_URL=
APPLE_REDIRECT_CONNECT_ACCOUNT=